@{
    ViewBag.Title = "Sobre nosotros";
    ViewBag.Message = "Tripscout, tu viaje inolvidable";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Gracias a esta plataforma podrás encontrar a los mejores guías de cualquier parte del mundo, o convertirte en uno de ellos.</p>
