@{
    ViewBag.Title = "Inicio";

}

<h2>@ViewBag.Title.</h2>


<address>
    Regístrate e inicia una aventura con nosotros. Te avisaremos cuando comencemos a ofrecer servicios.
</address>

<body>
    <section class="forum-feed-packages">
        <div class="container">
            <div class="row" style="margin-top: 25px;">
                <article class="col-md-4 col-sm-6 home-forum-feed">
                    <div class="img-box">
                        <a href="/Home/Roma" title="Roma">
                            <img src="https://205015-618768-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2018/06/coliseo_roma-1.jpeg" style="border-style:double;border-width:6px;border-color:black;" alt="Login" width="300" height="300">
                        </a>
                        </li>
                    </div>
                    <a href="/road-trip-from-thane-to-thane-in-11-days-3-hours/detail/339" title="Viaje inolvidable a Roma "><div class="trip-name">Viaje inolvidable a Roma</div></a>
                </article>
                <article class="col-md-4 col-sm-6 home-forum-feed">
                    <div class="img-box">
                        <a href="~/Tours2/Roma" title="Alcala">
                            <img src="https://www.pequepolis.com/wp-content/uploads/2018/11/concurso-plaza2_36-740x431.jpg" style="border-style:double;border-width:6px;border-color:black;" alt="Login" width="300" height="300">
                        </a>
                        </li>
                    </div>
                    <a href="/road-trip-from-thane-to-thane-in-11-days-3-hours/detail/339" title="Viaja a Alcala!"><div class="trip-name">Viaje inolvidable a Alcalá de Henares</div></a>
                </article>
                <article class="col-md-4 col-sm-6 home-forum-feed">
                    <div class="img-box">
                        <a href="User/Login" title="Paris">
                            <img src="https://cdn.traveler.es/uploads/images/thumbs/es/trav/3/s/2016/22/itienes_dos_dias_libres_escapate_a_paris_6314_940x627.jpg" style="border-style:double;border-width:6px;border-color:black;" alt="Login" width="300" height="300">
                        </a>
                        </li>
                    </div>
                    <a href="/road-trip-from-thane-to-thane-in-11-days-3-hours/detail/339" title="Viaje a Paris"><div class="trip-name">Viaje a París</div></a>
                </article>
            </div>
            <div class="row" style="margin-top: 25px; margin-bottom:100px;">
                <article class="col-md-4 col-sm-6 home-forum-feed">
                    <div class="img-box">
                        <a href="User/Login" title="Tokyo">
                            <img src="https://b.otcdn.com/imglib/almacen_fotos/geo_destinos_721x475/30117_japan/30117_49793_7.jpg" style="border-style:double;border-width:6px;border-color:black;" alt="Login" width="300" height="300">
                        </a>
                        </li>
                    </div>
                    <a href="/road-trip-from-thane-to-thane-in-11-days-3-hours/detail/339" title="Viaja a Japón con nosotros"><div class="trip-name">Conoce Japón y su maravillosa capital Tokyo</div></a>
                </article>
                <article class="col-md-4 col-sm-6 home-forum-feed">
                    <div class="img-box">
                        <a href="User/Login" title="Bilbao">
                            <img src="https://www.parkia.es/wp-content/uploads/2018/01/bilbo-8-1200x565.jpg" style="border-style:double;border-width:6px;border-color:black;" alt="Login" width="300" height="300">
                        </a>
                        </li>
                    </div>
                    <a href="/road-trip-from-thane-to-thane-in-11-days-3-hours/detail/339" title="Bilbao"><div class="trip-name">Conoce la denominada "Mejor Ciudad Europea!</div></a>
                </article>
                <article class="col-md-4 col-sm-6 home-forum-feed">
                    <div class="img-box">
                        <a href="User/Login" title="Toledo">
                            <img src="http://cdn.redcanina.es/wp-content/uploads/2018/09/11211300/toledo-750x375.jpg" style="border-style:double;border-width:6px;border-color:black;" alt="Login" width="300" height="300">
                        </a>
                        </li>
                    </div>
                    <a href="/road-trip-from-thane-to-thane-in-11-days-3-hours/detail/339" title="Toledo"><div class="trip-name">Un tour por la ciudad histórica de Toledo</div></a>
                </article>
            </div>
        </div>
    </section>

</body>

