@{
    ViewBag.Title = "Inicio";

}

<h2>@ViewBag.Title.</h2>


<address>
    Regístrate e inicia una aventura con nosotros. Te avisaremos cuando comencemos a ofrecer servicios.
</address>

<body>
    <section class="forum-feed-packages">
        <div class="container">
            <div class="row" style="margin-top: 25px;">
                <article class="col-md-4 col-sm-6 home-forum-feed">
                    <div class="img-box">
                        <a href="Home\About" title="Login">
                            <img src="https://205015-618768-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2018/06/coliseo_roma-1.jpeg"  style="border-style:double;border-width:6px;border-color:black;" alt="Login" width="300" height="300">
                        </a>
                        </li>
                    </div>
                    <a href="/road-trip-from-thane-to-thane-in-11-days-3-hours/detail/339" title="Road trip from Thane to Thane in 11 days 3 hours "><div class="trip-name">Road trip from Thane to Thane in 11 days 3 hours ...</div></a>
                </article>
                <article class="col-md-4 col-sm-6 home-forum-feed">
                    <div class="img-box">
                        <a href="/User/Prueba" title="Prueba">
                            <img src="https://www.101viajes.com/sites/default/files/styles/guia-full/public/coliseo-romano.jpg?itok=-6b6gJy8&timestamp=1462798148"  style="border-style:double;border-width:6px;border-color:black;" alt="Prueba" width="300" height="300">
                        </a>
                       
                    </div>
                    <a href="/road-trip-from-thane-to-thane-in-11-days-3-hours/detail/339" title="Road trip from Thane to Thane in 11 days 3 hours "><div class="trip-name">Road trip from Thane to Thane in 11 days 3 hours ...</div></a>
                </article>
                <article class="col-md-4 col-sm-6 home-forum-feed">
                    <div class="img-box">
                        <a href="User/Login" title="Login">
                            <img src="https://www.101viajes.com/sites/default/files/styles/guia-full/public/coliseo-romano.jpg?itok=-6b6gJy8&timestamp=1462798148" style="border-style:double;border-width:6px;border-color:black;" alt="Login" width="300" height="300">
                        </a>
                        </li>
                    </div>
                    <a href="/road-trip-from-thane-to-thane-in-11-days-3-hours/detail/339" title="Road trip from Thane to Thane in 11 days 3 hours"><div class="trip-name">Road trip from Thane to Thane in 11 days 3 hours ...</div></a>
                </article>
            </div>
            <div class="row" style="margin-top: 25px; margin-bottom:100px;">
                <article class="col-md-4 col-sm-6 home-forum-feed">
                    <div class="img-box">
                        <a href="User/Login" title="Login">
                            <img src="https://www.101viajes.com/sites/default/files/styles/guia-full/public/coliseo-romano.jpg?itok=-6b6gJy8&timestamp=1462798148" style="border-style:double;border-width:6px;border-color:black;" alt="Login" width="300" height="300">
                        </a>
                        </li>
                    </div>
                    <a href="/road-trip-from-thane-to-thane-in-11-days-3-hours/detail/339" title="Road trip from Thane to Thane in 11 days 3 hours"><div class="trip-name">Road trip from Thane to Thane in 11 days 3 hours ...</div></a>
                </article>
                <article class="col-md-4 col-sm-6 home-forum-feed">
                    <div class="img-box">
                        <a href="User/Login" title="Login">
                            <img src="https://www.101viajes.com/sites/default/files/styles/guia-full/public/coliseo-romano.jpg?itok=-6b6gJy8&timestamp=1462798148" style="border-style:double;border-width:6px;border-color:black;" alt="Login" width="300" height="300">
                        </a>
                        </li>
                    </div>
                    <a href="/road-trip-from-thane-to-thane-in-11-days-3-hours/detail/339" title="Road trip from Thane to Thane in 11 days 3 hours"><div class="trip-name">Road trip from Thane to Thane in 11 days 3 hours ...</div></a>
                </article>
                <article class="col-md-4 col-sm-6 home-forum-feed">
                    <div class="img-box">
                        <a href="User/Login" title="Login">
                            <img src="https://www.101viajes.com/sites/default/files/styles/guia-full/public/coliseo-romano.jpg?itok=-6b6gJy8&timestamp=1462798148" style="border-style:double;border-width:6px;border-color:black;" alt="Login" width="300" height="300">
                        </a>
                        </li>
                    </div>
                    <a href="/road-trip-from-thane-to-thane-in-11-days-3-hours/detail/339" title="Road trip from Thane to Thane in 11 days 3 hours "><div class="trip-name">Road trip from Thane to Thane in 11 days 3 hours ...</div></a>
                </article>
            </div>
        </div>
    </section>


</body>

