@{
    ViewBag.Title = "TripScout";

}

<h2>@ViewBag.Title.</h2>


<address>
    Regístrate e inicia una aventura con nosotros. Te avisaremos cuando comencemos a ofrecer servicios.
</address>

<body>
    <div id="logo-container">
        <img id="imagen1" align="center" src=..\Imagenes\TripScout_Negro.png width="30%" height="30%" />
    </div>
    
</body>

