@{
    ViewBag.Title = "Roma";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<body>
    <div class="activity-column-major">
        <div class="overview-certified-container">
            <div class="certified-badge certified-badge-detail
		">
                
                <span class="certified-badge-title">Certificado</span> <div class="badge-tooltip certified-badge-modal">
                    <div class="arrow"></div> <div class="modal-body certified-badge-description">
                        ¡Esta actividad tiene nuestro sello de aprobación! Servicio al cliente excepcional, personal experto y una buena experiencia garantizada.
                    </div>
                </div>
            </div> <div class="overview-container"> <section id="overview" class="overview long-txt" data-component="overview"> <div class="hed"></div> <div class="content">Bienvenidos a Roma, una de las ciudades más bellas del mundo para visitar y con la mayor concentración de patrimonio histórico y arquitectónico, testimonio de casi tres milenios de historia.</div> </section> </div>
        </div> <section class="key-details" id="key-details" data-component="key-details"> <div class="hed">Información general</div> <div class="key-info-box"> <div class="keydetails-benefit key-details-item icon icon-duration"> <div class="label single-label">Duración 4 horas</div> </div> <div class="keydetails-benefit key-details-item skip-the-line icon icon-skip-line"> <div class="label single-label">Sin colas</div> </div> <div class="keydetails-benefit key-details-item icon icon-voucher"> <div class="label single-label">Se aceptan cupones digitales o impresos</div> </div> <div class="keydetails-benefit key-details-item instant-confirmation icon icon-flash"> <div class="label single-label">Confirmación inmediata</div> </div> <div class="keydetails-activity key-details-item audio-guide icon icon-audio-guide"> <div class="label">Audioguía/auriculares</div> <div class="lang">Español, Chino, Inglés, Francés, Alemán, Italiano, Japonés, Coreano, Portugués, Ruso</div> </div> <div class="keydetails-benefit key-details-item cancellation-policy icon icon-credit-card"> <div class="label">Política de cancelación</div> <div class="lang">Esta actividad no es reembolsable</div> 
            <h2 class="section-title">Tu experiencia</h2> <section class="highlights" id="highlights" data-component="highlights"> <div class="hed">Qué harás</div> <div class="content list"> <ul> <li>Accede a uno de los museos más concurridos del mundo a la hora que elijas</li> <li>Maravíllate ante "La creación de Adán", uno de los frescos de Miguel Ángel en la Capilla Sixtina</li> <li>Llega a la entrada prioritaria de los museos en compañía de un asistente y disfruta de la visita por tu cuenta y a tu propio ritmo</li> </ul> </div> </section> <section class="long-txt" id="description" data-component="description">
                <div class="hed">En detalle</div> <div class="content">
                    <div class="see-more-wrapper is-enabled" data-max-height="96">
                        <input type="checkbox" class="see-more-state" id="see-more-description"> <div class="see-more-content">
                            Embárcate en un emocionante viaje a través de la historia del arte y la religión con un ticket de entrada con ayuda de un asistente a los Museos Vaticanos y la Capilla Sixtina.<br> <br>
                            Reúnete con el equipo de GetYourGuide en el punto de encuentro un cuarto de hora antes de la hora reservada. Estarán a tu disposición para llevarte dentro de la atracción. Los asistentes te acompañarán hasta la entrada de acceso prioritario y, una vez dentro, podrás disfrutar de la visita a tu propio ritmo.&nbsp;<br> <br>
                            Camina por la sala en forma de cruz griega para contemplar los sarcófagos tallados que tal vez contengan restos de algunos famosos reyes y reinas de la Antigüedad. Echa un vistazo al Gabinete de las Máscaras o recorre la Sala de los Animales, con su colección de bestias tanto reales como imaginarias. Camina por la Galería de los Mapas, donde verás cómo los cartógrafos han representado el mundo a través de los siglos. Observa obras maestras de maestros del Renacimiento en las Salas de Rafael y descansa un poco en los Apartamentos Borgia.<br> <br>
                            Finalmente, descubre la excepcional Capilla Sixtina de Miguel Ángel, la joya de la corona del Vaticano y uno de los mayores tesoros artísticos del mundo.
                        </div> <div class="see-more-trigger-wrapper">
                            <label for="see-more-description" class="see-more-trigger">
                                <span class="see-more-trigger-text">
                                    Ver más
                                </span> <span class="see-less-trigger-text">Ver menos</span>
                            </label>
                        </div>
                    </div>
                </div>
            </section> <section id="inclusions" class="inclusions long-txt activity-has-exclusions" data-component="inclusions"> <div class="hed">Incluido</div> <div class="content list"> <ul> <li class="icon-checkmark">Entrada sin colas con un ticket con horario reservado para los Museos Vaticanos y la Capilla Sixtina</li> <li class="icon-checkmark">Tasa de reserva y gestión</li> </ul> <div class="exclusions"> <div class="hed">No incluido</div> <ul> <li class="icon-close-light">Tour guiado</li> <li class="icon-close-light">Audioguía salvo que se elija otra opción</li> <li class="icon-close-light">Ticket para la basílica de San Pedro (la entrada es gratis, pero el acceso no está garantizado. Dependerá del número de visitantes)</li> <li class="icon-close-light">Acceso a la cúpula de la basílica de San Pedro</li> </ul> </div> </div> </section>
        </div> <div class="activity-details-content" style="margin-bottom:100px;">
                <div class="hed">Antes de viajar</div> <div class="content">
                    <div class="see-more-wrapper is-enabled" data-max-height="96">
                        <input type="checkbox" class="see-more-state" id="see-more-additional-notes"> <div class="see-more-content">
                            • Ten en cuenta que quienes lleguen tarde no podrán participar en el tour<br>
                            • Los menores de 6 años entran gratis y no necesitan reserva, pero deberán mostrar un documento de identidad válido<br>
                            • Los Museos Vaticanos ofrecen entrada gratuita a los visitantes discapacitados con una discapacidad acreditada del más del 74 %. Para visitantes no autosuficientes, la entrada gratuita también se amplia para un acompañante. Los tickets de entrada gratuita se emiten al presentar un certificado de invalidez en el mostrador<br>
                            • Código de vestimenta: no se permiten camisetas sin mangas ni pantalones cortos<br>
                            • Audioguías disponibles si se adquieren como complemento en italiano, inglés, francés, alemán, español, japonés, coreano, chino, ruso y portugués<br>
                            • El horario de apertura y cierre podría sufrir modificaciones debido a los actos especiales de los Museos Vaticanos, la Capilla Sixtina y San Pedro<br>
                            • Por la mañana, debido a la audiencia papal, la basílica de San Pedro y la plaza de San Pedro podrían estar
                        </div> <div class="see-more-trigger-wrapper">
                            <label for="see-more-additional-notes" class="see-more-trigger">
                                <span class="see-more-trigger-text">
                                    Ver más
                                </span> <span class="see-less-trigger-text">Ver menos</span>
                            </label>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>


</body>